main {
    min-height: calc(100vh - 160px);
  }
  .card {
    width: 350px;
    height: 300px;
    margin: auto; /* centrado */
}

.card img {
    height: auto; /* proporcionn */
    max-height: 150px; /* altura */
    object-fit: cover; /* ajuste */
}
.card-body {
  overflow-y: auto; /* scroll */
}

.card-footer {
  height: 40px;
}